body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

nav{
    display: flex;
    top: 0;
    position: fixed;
    justify-content: space-between;
    background-color:transparent;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    max-height: 10%;
}

nav ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 1%;
}

nav li a{
    color: black;
    font-weight: bold;
    padding: 10px;
    background-color:transparent;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover{
    background-color: white;
    color: black;
    border-radius: 50px;
}

.nav-left{
    display: flex;
    justify-content: left;
    width: 100%;
    white-space: nowrap;
}

.nav-right li:last-child a{
    background-color: #FF941D;
    color: black;
    border-radius: 50px;
}

.nav-right li:last-child a:hover{
    background-color: black;
    color: #FF941D;
}

.nav-right {
    width: 100%;
    display: flex;
    justify-content: right;
}

.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-center img{
    height: 70px;
    width: auto;
    object-fit: contain;
}

#home{
    background-color: #000000;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

#home video{
    position: relative;
    width: 100%;
    height: auto;
}

.donate{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.donate h1{
    font-size: 100px;
    text-align: center;
    margin-bottom: 1%;
}

.info{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    justify-content: center;
}

.pics{
    height: 330px;
    width: 300px;
    overflow: hidden;
    border: 2px solid black;
}

.pics .slide{
    display: none;
}

.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info .content{
    height: 100%;
    width: 60%;
    margin-left: 10%;
}

.donate .paws{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 60%;
    overflow: hidden;
    margin-top: 10%;
}

#about{
    height: 100vh;
    background-color: #FF941D;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
}

#about img{
    margin-top: 10%;
}

#services{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    justify-content: center;
    max-height: 100vh;
    padding: 4%;
    max-height: 10%;
}

.services_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.services{
    background-color: #FF941D;
    color:black ;
    top: 0;
    left: 0;
    box-sizing: border-box; 
    border-radius: 50px;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 2%;
}

.services p{
    font-size: 16px;
}

.services a{
    text-decoration: none;
    color: black;
}

.services:hover{
    width: 50%;
    height: 10%;
    background-color: white;
    border: 2px solid #FF941D;
}

.services:hover a{
    color: #FF941D;
}

#contact{
    height: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-bottom: 100px;
    background-image: url(../imgs/paws-removebg-preview.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-color: #FF941D;
}

.contact_heading{
    background-color: #FF941D;
    position: relative;
    text-align: center;
    padding-top: 5%;
    margin-top: 10px;
}

#contact a{
    color: black;
}

.social-links{
    list-style: none;
}

.prints img{
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.footer{
    background-color: #090604; 
    color:#FF941D;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: serif;
    padding: 5px;
}